.notification {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px;
  background-color: #eeeeee;
  cursor: pointer;
  /* for the whole menu - disable */
  pointer-events: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.notification h3 {
  color: black;
  font-weight: bolder;
}

.notification .notificationButtons {
  padding: 5px 0px;
}

.notification .notificationButtons button {
  pointer-events: all;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  font-family: "Bold";
  font-size: 80%;
}

.notification .notificationButtons .highlight {
  background-color: #c3c3c3;
}

.notification .notificationButtons button:hover {
  cursor: pointer;
}

.notification .notificationButtons button:nth-child(2) {
  margin-left: 5px;
}

.notification .notificationContainer {
  background-color: white;
  border-radius: 10px;
  width: 340px;
  height: 470px;
  padding: 15px;
  margin: 5px;
  overflow: auto;
  pointer-events: auto;
}

.notification .notificationContainer img {
  width: 100%;
  border-radius: 0px;
}

.notification .notificationContainer .empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notification .notificationContainer .empty p {
  width: 70%;
  margin-bottom: 30px;
}

.notification .notificationContainer .listOfNotifications .singleNotification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
  border-radius: 5px;
  padding: 5px 0px;
}

.notification .notificationContainer .listOfNotifications .isRead p {
  color: grey;
}

.notification
  .notificationContainer
  .listOfNotifications
  .singleNotification:hover {
  background-color: #f0f0f0;
}

.notification
  .notificationContainer
  .listOfNotifications
  .singleNotification
  .left {
  width: 25%;
  position: relative;
  padding: 5px;
}

.notification
  .notificationContainer
  .listOfNotifications
  .singleNotification
  .left
  .avatar {
  background-color: #ececec;
  color: black;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
}

.notification
  .notificationContainer
  .listOfNotifications
  .singleNotification
  .left
  img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.notification
  .notificationContainer
  .listOfNotifications
  .singleNotification
  .right {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notification
  .notificationContainer
  .listOfNotifications
  .singleNotification
  .right
  p {
  text-align: left;
  width: 100%;
}

.notification
  .notificationContainer
  .listOfNotifications
  .singleNotification
  .right
  p:nth-child(2) {
  color: #2472ca;
  font-family: "Bold";
  font-size: 80%;
  margin-top: 5px;
}

.notification
  .notificationContainer
  .listOfNotifications
  .singleNotification
  .right
  span {
  font-family: "Bold";
}
