.container {
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  padding: 8px 15px;
  width: 100%;
  position: fixed;
  /* fixed height to create a gap below for the content  */
  height: 60px;
}

.container img {
  width: 50px;
}

.container p {
  color: #000000;
}

.container .left,
.container .right {
  display: flex;
  align-items: center;
}

/* start left  */

.container .left .search-bar {
  margin-left: 15px;
  position: relative;
}

.container .left .search-bar input {
  position: relative;
  border: none;
  background-color: #ececec;
  border-radius: 30px;
  padding: 12px 15px 12px 40px;
  width: 200px;
}

.container .left .search-bar input:focus {
  outline: none;
}

.container .left .search-bar .icon {
  position: absolute;
  z-index: 1000;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* adjusting the placeholder text  */
.container .left .search-bar input::placeholder {
  color: #000000;
  position: absolute;
  padding-left: 5px; /* Adjust this value to move the placeholder text */
  left: 35px;
  line-height: 30px;
  font-family: "Paragraph";
}

.container .left .search-bar input:focus::placeholder {
  color: transparent;
}

/* end left  */

/* start right  */

/* justify the size of the child to be the same as avatar  */
.container .right .child {
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  margin: 0px 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* Add shadow to the child */
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for background and shadow */
  cursor: pointer;
}

.container .right .child:hover {
  background-color: #c3c3c3;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}

/* size of the avatar  */
.container .right .child img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.container .right .child img:hover {
  opacity: 0.7; /* Make it slightly transparent */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.container .right .menu-parent,
.container .right .notification-parent,
.container .right .message-parent,
.container .right .account-parent {
  position: relative;
}

.container .right .menu-parent .menu,
.container .right .message-parent .message,
.container .right .notification-parent .notification,
.container .right .account-parent .account {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container .right .menu-parent .menu h3,
.container .right .message-parent .message h3,
.container .right .notification-parent .notification h3,
.container .right .account-parent .account h3 {
  color: black;
  font-weight: bolder;
}

/* menu  */
.container .right .menu-parent .menu {
  background-color: #eeeeee;
  cursor: pointer;
  /* for the whole menu - disable */
  pointer-events: none;
}

.container .right .menu-parent .menu .menu-container {
  display: flex;
  flex-direction: row;
}

.container .right .menu-parent .menu .menu-container .menu-left,
.container .right .menu-parent .menu .menu-container .menu-right {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
}

.container .right .menu-parent .menu .menu-container .menu-right {
  height: 100%;
}

.container .right .menu-parent .menu .menu-container .menu-left .search-bar {
  position: relative;
  /* enable the pointer event for the search bar  */
  pointer-events: fill;
}

.container
  .right
  .menu-parent
  .menu
  .menu-container
  .menu-left
  .search-bar
  input {
  border: none;
  background-color: #ececec;
  border-radius: 30px;
  padding: 12px 15px 12px 40px;
  width: 100%;
}

.container
  .right
  .menu-parent
  .menu
  .menu-container
  .menu-left
  .search-bar
  input:focus {
  outline: none;
}

.container
  .right
  .menu-parent
  .menu
  .menu-container
  .menu-left
  .search-bar
  .icon {
  position: absolute;
  z-index: 1000;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.container .right .menu-parent .menu .menu-container .menu-left .social {
  margin-top: 15px;
  height: 320px;
  width: 270px;
  overflow: auto;
  /* enable pointer for the social buttons  */
  pointer-events: fill;
}

.container .right .menu-parent .menu .menu-container .menu-left .social a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 10px;
  width: 100%;
}

.container .right .menu-parent .menu .menu-container .menu-left .social h4,
.container .right .menu-parent .menu .menu-container .menu-right h4 {
  color: black;
}

.container
  .right
  .menu-parent
  .menu
  .menu-container
  .menu-left
  .social
  a:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.container
  .right
  .menu-parent
  .menu
  .menu-container
  .menu-left
  .social
  a
  .icon {
  margin-right: 15px;
  width: 20px;
}

.container .right .menu-parent .menu .menu-container .menu-right .create a {
  display: flex;
  flex-direction: row;
  width: 130px;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  /* enable pointer event for create buttons  */
  pointer-events: fill;
}

.container
  .right
  .menu-parent
  .menu
  .menu-container
  .menu-right
  .create
  a:hover {
  background-color: #f0f0f0;
}

.container
  .right
  .menu-parent
  .menu
  .menu-container
  .menu-right
  .create
  a
  .icon {
  margin-right: 10px;
  width: 20px;
}

/* message  */

/* notification  */

/* account  */

/* end right  */
