.container {
  background-color: #faf9f6;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 500;
  padding-top: 30px;
  box-shadow: 8px 0 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.container a {
  display: block;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container a:hover {
  background-color: #dbdbdb;
}

.container a .illustration {
  width: 40px;
  height: 40px;
  background-color: var(--lightgrey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container a .illustration img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.container a p {
  font-family: "Bold";
  display: block;
  width: 75%;
  text-align: left;
}

.container .buttons {
  position: absolute;
  width: 100%;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.container .buttons button {
  width: 100%;
  padding: 8px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.container .buttons button span {
  margin-left: 5px;
}

.container .buttons button:hover {
  opacity: 0.8;
}

.container .buttons button:nth-child(2) {
  background-color: var(--green);
  color: white;
}

@media screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}
