@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Paragraph";
  src: url(./assets/fonts/BeVietnamPro-Light.ttf);
}

@font-face {
  font-family: "Heading";
  src: url(./assets/fonts/notosans_bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /* height: auto;  */
  height: 2000px;
  background-color: #04724d;
  /* default font  */
  font-family: "Paragraph";
  font-size: 15px;
}

p {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heading";
  color: white;
}
