.container {
  width: 90%;
  padding: 1px;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
}

.container .postContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
  gap: 10px; /* Adjust spacing between grid items */
}

.container .postContainer p{
  color: black;
}

.container .post {
  width: 100%; /* Ensures each post fits within the grid */
  padding: 0;
}

.container .post img {
  width: 100%;
  height: auto;
  display: block;
}
