.container {
  width: 80%;
  padding: 1px;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
}

.container .postContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.container .postContainer p {
  color: black;
}

.container .postContainer .noPosts {
  grid-column: 1 / -1;
  justify-self: center;
  text-align: center;
  margin-top: 20px;
  font-size: 110%;
}

.container .post {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  cursor: pointer;
  display: block;
}

.container .post img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1000px) {
  .container .postContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .container .postContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
